@charset "UTF-8";
	fieldset{
		width:70%;
		margin:20px auto;
		border:1px solid black;
		border-radius: 10px;
	}
	legend {
		font-weight: bold;
		font-size: 20px;
	}
	/*, textarea*/
	input{
		display:inline-block;
		width:90%;
		padding:8px;
		margin:5px;
		border-radius: 20px;
	}
	input:focus, textarea:focus, button{
		border:2px solid blue;
		outline:none;
	}
	legend a {
		text-decoration: none;
		color:black;
	}
	#btn-save{
		border-radius: 3px;
		padding:5px 11px;
		color:white;
		display: inline-block;
		background-color: black;
		border : 1px solid #56819d;
		vertical-align: middle;
		text-decoration: none;
		margin: 10px;
	}
	#rb-text{
		height: 400px;
		overflow: scroll;
	}
	textarea{
		display:inline-block;
		width:90%;
		height: 300px;
		padding:8px;
		margin:5px;
		border-radius: 20px;
	}
	
	#modal-box {
		display:none;
		position: fixed;
		z-index:5;
		padding-top: 0;
		
		left:0;
		top:0;
		
		background-color: rgba(0,0,0,0.4);
		width: 100%;
		height: 100%;
	}	
	.modal-header {
	display: flex;
	}
.modal-header span{
	color: white;
	font-size:30px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 10px;
	
}

.modal-header span:hover {
	cursor: pointer;
	color:#000;
}

#modal-content{
	
	position:relative;
	overflow: auto;
	width: 80%;
	margin: 0 auto;

	background-color:gray;
	padding:5px 10px;
	border-radius:20px;
		
	animation-name : book-box;
	animation-duration : 0.8s;
	animation-fill-mode : forwards;
	
	-webkit-animation-name : book-box;
	-webkit-animation-duration : 0.8s;
	
	-moz-animation-name : book-box;
	-moz-animation-duration : 0.8s;
	
	-ms-animation-name : book-box;
	-ms-animation-duration : 0.8s;
}


@keyframes book-box{
	from{
		top: -400px;
		opacity: 0;
	}
	to{
		top: 200px;
		opacity: 1;
	}
}
@-webkit-keyframes book-box{
	from{
		top: -400px;
		opacity: 0;
	}
	to{
		top: 200px;
		opacity: 1;
	}
}	
@-moz-keyframes book-box{
	from{
		top: -400px;
		opacity: 0;
	}
	to{
		top: 200px;
		opacity: 1;
	}
}	
@-ms-keyframes book-box{
	from{
		top: -400px;
		opacity: 0;
	}
	to{
		top: 200px;
		opacity: 1;
	}
}	