@charset "UTF-8";
	table{
		width:70%;
		margin:20px auto;
		border-top: 2px solid #252525;
		border-bottom: 1px solid #ccc;
	}
	
	table th{
		text-align: left;
		background-color: #f7f7f7;
		color:#3b3b3b;
	}
	table th, table td{
		padding:15px 0 16px 16px;
		border-bottom: 1px solid #ccc;
	}
	caption{
		font-size: 25px;
		padding:10px;
		font-weight:bold;
		color: blue;
	}
	
	div.btn-box{
		width:70%;
		display:flex;
		margin:5px auto;
		justify-content: center;
		align-items: center;
			
	}
	
	a.btn{
		border-radius: 3px;
		padding:5px 11px;
		color:white;
		display: inline-block;
		background-color: black;
		border : 1px solid #56819d;
		vertical-align: middle;
		text-decoration: none;
		margin: 10px;
	}
	
	a.btn:hover{
		/*border:1px solid blue;*/
		box-shadow: 5px 5px 8px rgba(80,80,80,0.8);
	}
	a {
		text-decoration: none;
		color:black;
	}
		.book_link:hover{
		background-color: #50bcdf;
		cursor: pointer;
	}
	.tr_subject td{
		width: 75%;
	}
	.tr_text{
		height: 300px;
	}
	.td_text{
		white-space: pre-line;
		overflow-y: auto;
	}
	
	